body{
	background-color: lightyellow;
}
p{
	color: green;
	text-align: left;
	font-family: Calibri;
	font-weight: bolder;
	font-size: 20px;
	margin: 10px;
	text-indent: 2em;
}
.title{
	text-align: center;
	font-size: 30px;
}
h2 {
	text-align: center;
	color: silver;
}
h3 {
	text-align: left;
	color: silver;
	text-indent: 2em;
}
a{
	text-decoration: none;
	font-style: normal;
	color: green;
}
#author{
	font-style: italic;
	font-size: 22px;
}